@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 222 14% 38%;

    --card: 0 0% 98%;
    --card-foreground: 222 14% 38%;

    --popover: 0 0% 98%;
    --popover-foreground: 222 14% 38%;

    --primary: 222 14% 38%;
    --primary-foreground: 0 0% 98%;

    --secondary: 174 18% 61%;
    --secondary-foreground: 0 0% 98%;

    --muted: 180 33% 82%;
    --muted-foreground: 222 14% 38%;

    --accent: 28 100% 86%;
    --accent-foreground: 222 14% 38%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 180 33% 82%;
    --input: 180 33% 82%;
    --ring: 222 14% 38%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 14% 18%;
    --foreground: 0 0% 98%;

    --card: 222 14% 20%;
    --card-foreground: 0 0% 98%;

    --popover: 222 14% 20%;
    --popover-foreground: 0 0% 98%;

    --primary: 174 18% 61%;
    --primary-foreground: 222 14% 38%;

    --secondary: 222 14% 38%;
    --secondary-foreground: 0 0% 98%;

    --muted: 222 14% 30%;
    --muted-foreground: 0 0% 80%;

    --accent: 28 100% 86%;
    --accent-foreground: 222 14% 38%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 222 14% 30%;
    --input: 222 14% 30%;
    --ring: 174 18% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
